.two-col-content {

  .introduction-module {
    text-align: center;
    margin: 5rem auto 3rem auto;
    max-width: 70rem;
    @media(min-width: 768px) {
      width: 70vw;
    }
    @media(min-width: 1024px) {
      margin: 10rem auto 5rem auto;
      padding: 0 2rem;
    }

    .header {
      &:after {
        content: "";
        width: 5rem;
        height:  .2rem;
        background-color: $orange;
        display: block;
        vertical-align: middle;
        margin: 2rem auto;
      }
    }
  }

  .two-col-module {
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100rem;
    margin: 0 auto;
    @media screen and (min-width: 768px){
      flex-wrap: nowrap;
    }

    .items {
      flex: 0 0 100%;
      @media screen and (min-width: 768px){
        padding: 0 2rem;
        flex: 0 0 50%;
        box-sizing: border-box;
      }
      @media screen and (min-width: 992px){
        padding: 0;
      }

      ul {

        .block {
          margin: 2.5rem 0;
          @media screen and (min-width: 768px){
            margin: 4rem 0;
          }

          .title {
            text-transform: uppercase;
            font-weight: bold;
            color: $blue;
            letter-spacing: .1rem;
            &:after {
              content: "";
              display: block;
              background-color: $orange;
              height: .2rem;
              width: 3.8rem;
              margin: 1rem 0;
            }
          }

          .content {
            p {
              line-height: 1.7em;
            }
          }
        }
      }
    }
  }
}
