.bold {
  font-weight: bold;
  letter-spacing: .1rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 0 1rem !important;
}

.divider {
  &:after {
    content: "";
    width: 3rem;
    height: .3rem;
    display: block;
    margin: 1rem auto;
    background-color: $orange;
  }
}

#icon-col {
  background-color: #fff;
  display: flex;
  position: relative;
  z-index: 5;

  &.grey-bg {
    background-color: $backgroundGrey;
  }

  .inner {
    padding: 4rem 2rem;
    display: block;
    margin: 0 auto;
    max-width: 90rem;
    width: 100%;

    #col-header {
      margin: 0 auto;
      text-align: center;

      &:after {
        content: "";
        height: .2rem;
        width: 5rem;
        background-color: #F78E11;
        display: block;
        margin: 1rem auto;
      }
    }

    .cols-inner {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      justify-content: space-between;
      @media screen and (min-width: 768px){
        flex-direction: row;
        padding: 2rem 0;
      }

        .col-inner {
          padding: 2rem 0;
          width: 100%;
          @media screen and (min-width: 768px){
            padding: 1rem 2rem;
            max-width: 33.3%;
            align-self: baseline;
          }

          .svg {
            img {
              width: 10rem;
              height: 10rem;
            }
          }

          img {
            display: block;
            margin: 0 auto;
            padding-bottom: 1rem;
          }

          a {
            text-decoration: none;

            img {
              display: block;
              margin: 0 auto;
            }

            #submodule-title {
              text-align: center;
              font-family: $Poppins;
              font-weight: bold;
              color: $blue;
              text-transform: uppercase;
              letter-spacing: .2rem;
              padding: 1rem 0;
              white-space: nowrap;

              &:after {
                content: ">";
                display: inline-block;
                padding: 0 .2rem;
              }
            }
          }

          p {
            text-align: center;
            padding: 0 2rem;
            max-width: 50rem;
            display: block;
            margin: 0 auto;
          }
        }
      }
    }
  }
