.icon-col {
  background-color: #fff;
  display: flex;
  position: relative;
  z-index: 5;

  &.grey-bg {
    background-color: $backgroundGrey;
  }

  .inner {
    box-sizing: border-box;
    padding: 4rem 2rem;
    display: block;
    margin: 0 auto;
    max-width: 120rem;
    width: 100%;
    @media(min-width: 1024px) {
      padding: 10rem 2rem;
    }

    .col-header {
      margin: 0 auto 1em auto;
      text-align: center;
      @media(min-width: 1024px) {
        margin: 0 auto 2em auto;
      }

      &:after {
        content: "";
        height: .2rem;
        width: 5rem;
        background-color: #F78E11;
        display: block;
        margin: 1rem auto 0 auto;
      }
    }

    .cols-inner {
      display: flex;
      justify-content: center;
      flex: 0 0 100%;
      max-width: 100%;
      flex-wrap: wrap;
      @media screen and (min-width: 768px){
        flex-wrap: nowrap;

        &.col-3 {
          .col-inner{
            flex: 0 0 33.3%;
            max-width: 33.3%;
          }
        }

        &.col-4 {
          .col-inner{
            flex: 0 0 25%;
            max-width: 25%;
          }
        }
      }
      @media(min-width: 1024px) {
        padding: 0;
      }

        .col-inner {
          padding: 2rem 0;
          width: 100%;
          box-sizing: border-box;
          @media screen and (min-width: 768px){
            padding: 0 1rem;
          }
          @media(min-width: 1024px) {
            padding: 0 3rem;
          }

          .sub-icon-wrapper {
            text-align: center;
            height: 6.5rem;
            line-height: 6.5rem;
            position: relative;
            margin-bottom: 4rem;

            &.divider:after {
              position: absolute;
              left: 50%;
              bottom: -2rem;
              transform: translate(-50%,.3rem);
              margin: 0;
            }

            img {
              display: inline-block;
              vertical-align: bottom;
              max-height: 100%;
              width: auto;
            }
          }

          .svg {
            img {
              width: 10rem;
              height: 10rem;
            }
          }

          a {
            text-decoration: none;

            .submodule-title {
              text-align: center;
              font-family: $Poppins;
              font-weight: bold;
              color: $blue;
              text-transform: uppercase;
              letter-spacing: .1rem;
              padding: 1rem 0;

              &:after {
                content: ">";
                display: inline-block;
                padding: 0 .2rem;
              }
            }
          }

          p {
            text-align: center;
            padding: 0 2rem;
            max-width: 50rem;
            display: block;
            margin: 0 auto;
          }
        }
      }
    }
  }
