.alt-grid {
  width: 100%;
  border-top: 1px solid #E1E1E1;

  // CASE STUDIES
  &.case-studies {
    .text-header {
      p {
        text-align: center !important;
        text-transform: uppercase !important;
        letter-spacing: .2rem !important;
        font-weight: bold !important;
        font-family: $Poppins !important;
      }
    }

    .btn-wrap {
      text-align: center;
    }
  }

  .row-inner {
    @media(min-width: 768px) {
      display: flex;
      flex-wrap: nowrap;
    }

    .right {
      @media screen and (min-width: 768px){
        order: 2;
      }
    }

    .img-block {
      position: relative;
      box-sizing: border-box;
      @media screen and (min-width: 768px){
        min-height: 45rem;
        max-width: 50%;
        flex: 0 0 50%;
      }

      &.number {
        padding: 4rem 2rem 0 2rem;
        @media screen and (min-width: 768px){
          display: flex;
          align-items: center;
          padding: 5rem 0;
          margin: 5rem 0;
          border-right: .1rem solid #e1e1e1;

          &.right {
            border-right: 0;
            border-left: .1rem solid #e1e1e1;
          }
        }

        &:before {
          background-color: rgba(0,0,0,0);
        }

        .numbersvg {
          max-width: 20rem;
          display: block;
          margin: 0 auto;
          width: 100%;
          position: static;
          transform: none;
          stroke: $blue;
          stroke-width: .2rem;
          fill: none;
          @media(min-width: 768px) {
            max-width: 30rem;
          }
        }
      }

      &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0,0,0,.3);
      }

      .cover-link {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        vertical-align: bottom;
      }

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 75%;
      }

      .image-block-title {
        font-family: $Poppins;
        position: absolute;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2rem;
        letter-spacing: .2rem;
        padding: 2rem;
        text-align: center;
        line-height: 1.3em;
        @media screen and (min-width: 768px){
          font-size: 2.5rem;
          letter-spacing: .25rem; //add another for 3rem on bigger screens
        }
      }

      .image-block-caption {
        position: absolute;
        background-color: $blueTransparent;
        bottom: 0;
        width: 100%;
        padding: 2rem;
        box-sizing: border-box;
        font-size: 1.4rem;
        letter-spacing: .1rem;

        p {
          color: #fff;
          text-align: center;
          text-transform: uppercase;
          display: block;
          margin: 0 auto;
        }
      }
    } // .img-block

    .text-block {
      @media screen and (min-width: 768px){
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .text-inner {
        padding: 4rem 2rem;
        @media screen and (min-width: 768px){
          padding: 4rem 3rem;
          width: 80%;
          max-width: 40rem;
        }

        .divider {
          &:after {
            content: "";
            height: .3rem;
            width: 5rem;
            display: block;
            margin: 2rem auto;
            background-color: $orange;
            @media screen and (min-width: 768px){
              display: inline-block;
            }
          }
        }

        .text-header {
          margin-bottom: 1em;

          p {
            font-size: 2rem;
            font-family: 'Merriweather', serif;
            font-weight: normal;
            line-height: 1.5em;
            text-align: center;
            @media screen and (min-width: 768px){
              text-align: left;
            }
            @media(min-width: 1024px) {
              font-size: 2.5rem;
            }
            @media(min-width: 1440px) {
              font-size: 3rem;
            }

            .embedded-image-module & {
              &:after {
                content: '';
                display: block;
                margin: 2rem auto;
                height: .4rem;
                width: 5rem;
                background: $orange;
                @media(min-width: 768px) {
                  margin: 2rem 0;
                }
              }
            }
          }
        }

        .text-byline {
          font-size: 1.4rem;
          font-family: $Merriweather;
          font-weight: bold;
          color: $blue;
          text-align: center;
          @media screen and (min-width: 768px){
            text-align: left;
            font-size: 1.6rem;
          }

          &:before {
            content: "- ";
          }
        }

        .text-copy {
          &.center {
            text-align: center;
          }

          p {
            margin-bottom: 1em;
          }

          h5 {
            font-family: $Poppins;
            color: orange;
            margin-bottom: 1em;
          }

          *:last-child {
            margin-bottom: 0;
          }
        }

        .center-wrap {
          @media screen and (min-width: 768px){
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 25rem;
          }
          .btn-wrap {
            text-align: center;
          }
        }

        .btn-wrap {
          margin-top: 2em;
          @media(min-width: 768px) {
            margin-top: 3em;
          }
        }
      }
    }
  }
}
