#alt-grid {
  width: 100%;

  .row-inner {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px){
      flex-direction: row;
      min-height: 40rem; // add more for dif screen sizes
      max-height: 50rem;
    }

    .right {
      @media screen and (min-width: 768px){
        order: 2;
      }
    }

    #img-block {
      width: 100%;
      overflow: hidden;
      position: relative;
      height: 45rem;
      @media screen and (min-width: 768px){
        width: 50%;
        display: inline-block;
        height: auto;
      }

      .img-block-inner {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0,0,0,.3);
      }

      img {
        height: 100%;
        @media screen and (min-width: 768px){
          height: auto;
        }
      }

      #image-block-title {
        font-family: $Poppins;
        position: absolute;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2rem;
        letter-spacing: .2rem;
        padding: 2rem;
        text-align: center;
        line-height: 1.3em;
        @media screen and (min-width: 768px){
          font-size: 2.5rem;
          letter-spacing: .25rem; //add another for 3rem on bigger screens
        }
      }

      #image-block-caption {
        position: absolute;
        background-color: $blueTransparent;
        bottom: 0;
        width: 100%;
        padding: 1rem 0;
        font-size: 1.4rem;
        letter-spacing: .1rem;
        font-weight: bold;

        p {
          color: #fff;
          text-align: center;
          text-transform: uppercase;
          display: block;
          width: 50%;
          margin: 0 auto;
        }
      }

    }

    .text-block {
      width: 100%;
      @media screen and (min-width: 768px){
        width: 50%;
        display: inline-block;
        position: relative;
      }

      .text-inner {
        padding: 4rem;
        @media screen and (min-width: 768px){
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }

        .divider {
          &:after {
            content: "";
            height: .3rem;
            width: 5rem;
            display: block;
            margin: 2rem auto;
            background-color: $orange;
            @media screen and (min-width: 768px){
              display: inline-block;
            }
          }
        }

        #text-header {
          p {
            font-size: 2.5rem;
            font-family: 'Merriweather', serif;
            font-weight: normal;
            line-height: 1.5em;
            text-align: center;
            @media screen and (min-width: 768px){
              text-align: left;
              //font-size: add 3rem for bigger screen size
            }
          }
        }

        #text-byline {
          font-size: 1.3rem;
          font-family: $Merriweather;
          font-weight: bold;
          color: $blue;
          padding: 1rem 0;
          text-align: center;
          @media screen and (min-width: 768px){
            text-align: left;
          }

          &:before {
            content: "-";
          }
        }
      }

    }

    .button-wrapper {
      width: 60%;
      display: block;
      margin: 0 auto;
      @media screen and (min-width: 768px){
        margin: 0 0;
      }

      .button {
        margin: 1.5rem 0;
        max-width: 15rem;

        a:after {
        width: 2rem;
        margin-left: .2rem;
        }
      }
    }
  }
}
