// fade in on scroll
.fade_in {
  animation: fade_in 1s forwards;
  position: relative;
}

@keyframes fade_in {
  0% {
    opacity: 0;
    top: 50px;
  };
  20% {
    opacity: 0;
    top: 50px;
  };
  100% {
    opacity: 1;
    top: 0;
  }
}

//colorize on scroll
.grayscale {
  filter: grayscale(100%); 
  &.color {
    animation: colorize .8s forwards;
  }
}

@keyframes colorize {
  0% {
    filter: grayscale(100%);
  }
  50% {
    filter: grayscale(50%);
  }
  100%{
    filter: grayscale(0%);
  }
}
