
.btn {
  display: inline-block;
  position: relative;
  background: $blue;
  border: none;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: $orange;
    transition: width ease 300ms;
  }

  &:hover:before {
    @media screen and (min-width: 768px){
      width: 100%;
    }
  }

  span {
    position: relative;
    z-index: 1;
    display: inline-block;
    line-height: 1;
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 1rem 2rem;
    font-family: $Poppins;
    text-transform: uppercase;
    letter-spacing: .1rem;
    white-space: nowrap;

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: .3rem;
      background: #fff;
      margin-right: 1rem;
      transition: width ease 300ms;
    }

    &:hover:before {
      @media screen and (min-width: 768px){
        width: 2.5rem;
      }
    }

    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 2.5rem;
      height: .3rem;
      background: #fff;
      margin-left: 1rem;
      transition: width ease 300ms;
    }

    &:hover:after {
      @media screen and (min-width: 768px){
        width: 0;
      }
    }
  }
}

.btn-wrap {
  text-align: left;
  &.align-center {
    text-align: center;
  }
}
