.clients-grid {
  .inner {

    .header {
      margin: 0 auto;
      max-width: 50vw;
      display: block;
      text-align: center;
    }

    .category-submodule {
      border-top: 2px solid $backgroundGrey;
      width: 80vw;
      max-width: 100rem;
      margin: 0 auto;

      .title {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: .1rem;
        text-align: center;
        margin-top: 2rem;
        background-color: #fff;
      }

      .row {
        display: flex;
        flex: 0 0 100%;
        padding: 2rem;
        flex-wrap: wrap;
        @media screen and (min-width: 768px){
          flex-wrap: nowrap;
        }

        .category-exhibit {
          padding: 1rem 0;
          box-sizing: border-box;
          justify-content: space-between;
          flex: 0 0 100%;
          @media screen and (min-width: 768px){
            max-width: 33.3%;
            flex: 0 0 33.3%;
            padding: 1rem 2rem;
          }

          .investment {
            font-family: $Merriweather;
            font-size: 2rem;
          }

          .name {
            font-weight: bold;
            text-transform: uppercase;
            color: $blue;
            font-size: 1.4rem;
            padding: .5rem 0 1rem;
          }

          .location {
            font-size: 1.8rem;
            &:after {
              content: "";
              background-color: $orange;
              height: .2rem;
              width: 5rem;
              display: block;
              margin-top: 1rem;
            }
          }

          .description {
            padding: 1rem 0;
          }
        }
      }
    }
  }
}
