.clients-grid {
  padding: 0 2rem;
  margin: 0 auto;
  @media screen and (min-width: 992px){
    width: 80vw;
    max-width: 100rem;
  }
  .inner {

    .header {
      margin: 0 auto;
      max-width: 50vw;
      display: block;
      text-align: center;
    }

    .triangle {
      position: absolute;
      left: 50%;
      transform: rotate(180deg);
      margin: 1rem auto;
      fill: $orange;
    }

    .categories-list {
      display: block;
      margin: 4rem auto;
      text-align: center;

      span {
        color: #858585;
        padding: 0 .5rem;
        text-transform: uppercase;
        font-family: $Poppins;
        font-size: 1.2rem;
        letter-spacing: .2rem;
        font-weight: bold;
        white-space: pre-wrap;
        display: inline-block;
        &:after {
          content: "|";
          color: #858585;
          margin-left: .5rem;
        }
        &:last-child{
          &:after {
            content: "";
            display: none;
          }
        }
      }
    }

    .category-submodule {
      border-top: 2px solid $backgroundGrey;
      position: relative;

      .title {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: .1rem;
        text-align: center;
        background-color: #fff;
        position: absolute;
        margin: -1rem auto;
        padding: 0 2rem;
        left: 50%;
        transform: translateX(-50%);
      }

      .row {
        display: flex;
        flex: 0 0 100%;
        padding: 2rem;
        flex-wrap: wrap;
        @media screen and (min-width: 768px){
          flex-wrap: nowrap;
        }

        .category-exhibit {
          padding: 1rem 0;
          box-sizing: border-box;
          justify-content: space-between;
          flex: 0 0 100%;
          @media screen and (min-width: 768px){
            max-width: 33.3%;
            flex: 0 0 33.3%;
            padding: 1rem 2rem;
          }

          .investment {
            font-family: $Merriweather;
            font-size: 2rem;
          }

          .name {
            font-weight: bold;
            text-transform: uppercase;
            color: $blue;
            font-size: 1.4rem;
            padding: .5rem 0 1rem;
          }

          .location {
            font-size: 1.8rem;
            &:after {
              content: "";
              background-color: $orange;
              height: .2rem;
              width: 5rem;
              display: block;
              margin-top: 1rem;
            }
          }

          .description {
            padding: 1rem 0;
          }
        }
      }
    }
  }
}
