.contact-information-module {
  background-color: $backgroundGrey;
  z-index: 6;
  position: relative;

  .inner {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px){
      flex-direction: row;
      display: block;
      margin: 0 auto;
      max-width: 80rem;
    }

    .bubble-image-wrapper {
      @media screen and (min-width: 768px){
        height: 30rem;
        width: 30rem;
        position: relative;
      }
      img {
        max-width: 80%;
        border-radius: 100%;
        height: 80vw;
        display: block;
        margin: 0 auto;
        margin-top: -2rem;
        @media screen and (min-width: 768px){
          max-height: 100%;
          max-width: 100%;
          top: -2rem;
          left: 25%;
          position: absolute;
        }
      }
    }

    .text-wrapper {
      display: block;
      margin: 0 auto;
      padding: 4rem 0;
      @media screen and (min-width: 768px){
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
        padding: 0 5rem;
      }

      .title {
        font-weight: bold;
        color: $blue;
        text-transform: uppercase;
        letter-spacing: .1rem;
        padding: 1rem 0;
        position: relative;
        &:before {
          content: "";
          background-color: $orange;
          height: 10rem;
          width: .2rem;
          position: absolute;
          display: block;
          left: 50%;
          top: -10rem;
          @media screen and (min-width: 768px){
            height: .2rem;
            width: 15rem;
            top: 50%;
            transform: translateY(-50%);
            left: -17rem;
          }
        }
      }

      .address {
        padding: 1rem 0;
      }

      .phone {
        letter-spacing: .05rem;
        padding: 1rem 0;
      }

      .email {
        text-decoration: none;
        color: $textGrey;
        font-family: $Poppins;
      }

      .dir-btn-wrapper {
        margin: 3rem 0;

        a {
          text-decoration: none;
          background-color: $blue;
          padding: 1rem 2rem;
          position: relative;

          &:focus {
            outline: none;
          }

          &:before {
            background-color: $orange;
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 0;
            height: 100%;
            transition: width ease 300ms;
          }

          &:hover:before {
            @media screen and (min-width: 768px){
              width: 100%;
            }
          }

          span {
            text-transform: uppercase;
            color: #fff;
            font-family: $Poppins;
            letter-spacing: .1rem;
            line-height: 1;
            font-size: 1.2rem;
            z-index: 1;
            position: relative;

            &:before {
              content: '';
              display: inline-block;
              vertical-align: middle;
              width: 0;
              height: .2rem;
              background-color: #fff;
              margin-right: 1rem;
              transition: width ease 300ms;
            }

            &:hover:before {
              @media screen and (min-width: 768px){
                width: 2.5rem;
              }
            }

            &:after {
              content: '';
              display: inline-block;
              vertical-align: middle;
              width: 2.5rem;
              height: .2rem;
              background-color: #fff;
              margin-left: 1rem;
              transition: width ease 300ms;
            }

            &:hover:after {
              @media screen and (min-width: 768px){
                width: 0;
              }
            }
          }
        }
      }
    }
  }
}
