.contact-module {
  .inner {
    padding: 4rem 2rem;
    @media(min-width: 1024px) {
      padding: 10rem 2rem;
    }

    .header {
      text-align: center;
      margin-bottom: 1em;

      &:after {
        content: "";
        width: 5rem;
        height: .2rem;
        background-color: $orange;
        display: block;
        vertical-align: middle;
        margin: 1rem auto;
      }
    }

    .fields {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      max-width: 50rem;
      margin: 0 auto;

      .half {
        flex: 0 0 100%;
        @media screen and (min-width: 768px){
          max-width: 50%;
          flex: 0 0 50%;
        }
      }

      .full {
        flex: 0 0 100%;
      }

      .field {
        box-sizing: border-box;
        position: relative;
        margin: 1.5rem 0;
        padding: 0 1rem;

        label {
          color: $lightGrey;
          font-style: italic;
          background: #fff;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 2rem;
          transition: all ease 150ms;
          pointer-events: none;
        }

        .inline-msg {
          position: absolute;
          left: 0;
          top: 100%;
          padding: .5rem 1rem;
          font-family: $Poppins;
          font-size: 1.3rem;
        }

        .active {
          top: 0;
          font-size: 1.3rem;
        }

        input {
          border: .1rem solid $lightGrey;
          width: 100%;
          height: 4rem;
          padding: 0 1rem;
          margin: 0;
          box-sizing: border-box;
          border-radius: .2rem;
          font-size: 1.3rem;
          font-family: $Poppins;
          text-transform: uppercase;
          color: $textGrey;
          &:focus {
            outline: none;
          }
        }

        &.error input {
          border-color: red;
        }
      }
    }

    #contact-button {
      border: none;
      text-transform: uppercase;
      background-color: $blue;
      padding: 1rem 2rem;
      display: block;
      margin: 1rem auto 0 auto;
      text-align: center;

      span {
        color: #fff;
        font-family: 'Poppins', sans-serif;
        letter-spacing: .2rem;
        font-size: 1.3rem;

        &:after {
          content: "";
          width: 2rem;
          height:  .2rem;
          margin-left: 1rem;
          background-color: #fff;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
}
