#primary-footer {
  background-color: $backgroundGrey;
  flex-direction: column;
  align-items: left;
  width: 100%;
  padding-top: 10rem;
  text-align: center;
  @media screen and (min-width: 768px){
    padding-top: 0;
  }

  .inner {
    margin: 0 auto;
    padding: 4rem 2rem;
    text-align: left;
    display: inline-block;
    @media screen and (min-width: 768px){
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0;
    }

    #footer-logo {
      margin-bottom: 1.5rem;
    }

    .button {
      width: 50%;
      margin: 0 0;
    }

    #footer-address {
      list-style: none;
      -webkit-padding-start: 0;
      line-height: 1.3em;
      padding: 2rem 0;
      margin-bottom: 2rem;
      @media screen and (min-width: 768px){
        padding: 0;
        margin-bottom: 0;
      }
    }

    #sm-container {
      list-style: none;
      -webkit-padding-start: 0;
      @media screen and (min-width: 768px){
        padding: 1rem 0;
      }

      li {
        display: inline-block;
      }

      #twitter {
        margin: 0 .5rem;
      }
    }

  }
}
