#primary-footer {
  background-color: $backgroundGrey;
  align-items: left;
  width: 100%;
  text-align: center;
  @media screen and (min-width: 768px){
    padding-top: 0;
  }

  .inner {
    margin: 0 auto;
    padding: 4rem 2rem;
    text-align: left;
    display: inline-block;
    max-width: 140rem;
    box-sizing: border-box;
    @media screen and (min-width: 768px){
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      padding: 4rem 3rem;
    }

    #footer-logo {
      margin-bottom: 3rem;
      @media(min-width: 768px) {
        margin-bottom: 5rem;
      }
    }

    .btn-wrap {
      text-align: center;
      margin-bottom: 3rem;
      @media(min-width: 768px) {
        text-align: left;
        margin-bottom: 0;
      }
    }

    #footer-address {
      list-style: none;
      -webkit-padding-start: 0;
      line-height: 1.3em;
      margin-bottom: 3rem;
      text-align: center;
      @media screen and (min-width: 768px){
        padding: 0;
        text-align: left;
      }

      a {
        text-decoration: none;
        color: $textGrey;
      }
    }

    #sm-container {
      list-style: none;
      text-align: center;
      @media(min-width: 768px) {
        text-align: left;
      }

      li {
        display: inline-block;
        position: relative;
        margin: 0 .5rem;

        a {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 9;
        }

        svg {
          fill: $orange;
        }
      }
    }
  }
}
