html {
  font-size: 62.5%;
}

body {
  background-color: #e5ecef;
  width: 100%;
  max-width: 144rem;
  font-size: 1.6rem;
  display: block;
  margin: 0 auto;
}

#body-wrapper {
  max-width: 160rem;
  background-color: #fff;
  display: block;
  margin: 0 auto;
  box-shadow: 0px 0px 30px 1px rgba(201,201,201,.5);
}

h1 {
  font-size: 1.8rem;
  font-family: 'Merriweather', serif;
  font-weight: normal;
  line-height: 1.5em;
}

.header {
  font-size: 2.5rem;
  font-family: 'Merriweather', serif;
  font-weight: normal;
  line-height: 1.5em;
  @media(min-width: 1366px) {
    font-size: 4rem;
  }
}

p, li {
  font-family: 'Poppins', sans-serif;
  color: $textGrey;
  line-height: 1.5em;
}

.grey-text {
  color: #909090;
}

.grey-bg {
  background-color: $backgroundGrey;
}

.bold {
  font-weight: bold;
  letter-spacing: .1rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 0 1rem !important;
}

.divider {
  &:after {
    content: "";
    width: 3rem;
    height: .3rem;
    display: block;
    margin: 2rem auto;
    background-color: $orange;
  }
}

.body-content {
  margin-top: 6rem;


  //padding: 0 2rem;  add this to larger screen sizes
}
