html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  width: 100%;
  max-width: 144rem;
  font-size: 1.6rem;
}

h1 {
  font-size: 1.8rem;
  font-family: 'Merriweather', serif;
  font-weight: normal;
  line-height: 1.5em;
}

.header {
  font-size: 2.5rem;
  font-family: 'Merriweather', serif;
  font-weight: normal;
  line-height: 1.5em;
}

p {
  font-family: 'Poppins', sans-serif;
  color: #3A3A3A;
  line-height: 1.3em;
}

li {
  font-family: 'Poppins', sans-serif;
  font-weight: light;
  color: $textGrey;
}

.body-content {
  margin-top: 4rem;


  //padding: 0 2rem;  add this to larger screen sizes
}
