#hero {
  width: 100%;
  position: relative;
  @media screen and (min-width: 768px){
    min-height: 30rem;
  }

  &.grey-bg{
    background-color: $backgroundGrey;
  }

  .inner {
    display: flex;
    flex-direction: column;
    padding: 17rem 2rem 5rem;
    @media screen and (min-width: 768px){
      padding: 5rem 2rem;
    }

    #hero-photo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      @media screen and (min-width: 768px){
        height: 100%;
        max-width: 50%;
      }

      img {
        width: 100%;
        object-fit: cover;
        @media screen and (min-width: 768px){
          height: 100%;
        }
      }
    }

    .image-left {
      .hero-title{
        &:before {
        @media screen and (min-width: 768px){
          position: absolute;
        }
      }
    }
  }

    .text-inner {
      padding-top: 6rem;
      text-align: center;
      @media screen and (min-width: 768px){
        max-width: 50%;
        padding-left: 50%;
        padding-top: 0;
        height: 100%;
      }
      .hero-title {
        font-size: 1.4rem;
        color: $blue;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .2rem;
        font-family: $Poppins;
        position: relative;
        margin-top: 2rem;
        @media screen and (min-width: 768px){
          text-align: left;
        }
        &:before {
          content: "";
          width: .3rem;
          height: 5rem;
          background-color: $orange;
          display: block;
          position: absolute;
          left: 50%;
          bottom: 100%;
          transform: translateX(-50%);
          @media screen and (min-width: 768px){
            width: 5rem;
            height: .3rem;
            position: relative;
            display: inline-block;
            vertical-align: middle;
          }
        }
      }

      .header {
        text-align: center;
        padding: 2rem 0;
        color: $textGrey;
        @media screen and (min-width: 768px){

        }
      }

      p {
        font-family: $Merriweather;
        color: $lightGrey;
      }
    }
  }

  #blurb-button {
    display: block;
    margin: 0 auto;
    width: 75%;
    position: absolute;
    left: 50%;
    bottom: -10%;
    transform: translateX(-50%);
    background-color: $orange;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2em;
    z-index: 4;
    @media screen and (min-width: 768px){
      max-width: 60%;
      padding: 1rem 2rem;
    }

      p {
        color: #fff;
      }
  }
}
