.network-icon-col {
  background-color: $backgroundGrey;
  position: relative;
  z-index: 5;

  .inner {
    padding: 4rem 2rem;
    display: block;
    margin: 0 auto;
    max-width: 90rem;
    @media(min-width: 1024px) {
      padding: 10rem 2rem;
    }

    #col-header {
      margin: 0 auto 1em auto;
      text-align: center;
      @media(min-width: 1024px) {
        margin: 0 auto 2em auto;
      }

      &:after {
        content: "";
        height: .3rem;
        width: 5rem;
        background-color: #F78E11;
        display: block;
        margin: 1rem auto 0 auto;
      }
    }

    .cols-inner {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      justify-content: space-between;
      @media screen and (min-width: 768px){
        flex-direction: row;
      }

      .col-inner {
        margin-bottom: 3rem;
        box-sizing: border-box;
        @media screen and (min-width: 768px){
          padding: 0 1rem;
          margin: 0;
          max-width: 33.3%;
        }
        @media(min-width: 1024px) {
          padding: 0 3rem;
        }

        &:last-child {
          margin-bottom: 0;
        }

        img {
          width: 10rem;
          height: 10rem;
          display: block;
          margin: 0 auto 1rem auto;
        }

        #submodule-title {
          text-align: center;
          padding: 0 2rem;
          max-width: 50rem;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }

  #col-cta {
    text-align: center;
    display: block;
    margin: 3rem auto 0 auto;
    @media screen and (min-width: 1024px){
      display: block;
      margin: 5rem auto 0;
    }
  }

  .btn-wrap {
    text-align: center;
    margin-top: 3em;
  }
}
