.next-step-wrapper {
    background-color: #fff;
    position: relative;
    z-index: 7;
    @media screen and (min-width: 768px){
      padding: 5rem;
    }

    .next-step-container {
      background-color: #0176BC;
      display: flex;
      flex-direction: column;
      max-height: 35rem;
      max-width: 90rem;
      margin: 0 auto;
      @media screen and (min-width: 768px){
        flex-direction: row;
      }

      .inner {
        display: block;
        margin: 0 auto;
        padding: 4rem 0;
        flex: 0 0 50%;
        @media screen and (min-width: 768px){
          width: 50%;
          margin: 0;
          position: relative;
        }

        .page-path {
          position: absolute;
          width: 100%;
          height: 100%;
          display: block;
          z-index: 999;
          top: 0;
        }

        #next-step-label {
          color: #fff;
          letter-spacing: .2rem;
          text-transform: uppercase;
          margin: .5rem 0;
          @media screen and (min-width: 768px){
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
          }

          &:after {
            content: "";
            width: 5rem;
            height:  .2rem;
            background-color: #F69420;
            display: inline-block;
            vertical-align: middle;
            margin: 0 1.5rem;
          }
        }

        #next-step-heading {
          color: #fff;
          @media screen and (min-width: 768px){
            position: absolute;
            bottom: 35%;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }

      #next-step-img {
        object-fit: cover;
        overflow: hidden;
        bottom: 0;
        flex: 0 0 50%;
        position: static;
        @media screen and (min-width: 768px){
          width: 50%;
          height: 100%;
          position: relative;
        }

        .page-path {
          position: absolute;
          width: 100%;
          height: 100%;
          display: block;
          z-index: 999;
          top: 0;
        }

        img {
          height: 100%;
          max-height: 35rem;
          width: 100%;
          vertical-align: bottom;
        }
      }
    }
}
