.next-step-wrapper {
  background-color: #fff;
  position: relative;
  z-index: 7;
  padding: 0 2rem;
  margin: 5rem 0;
  @media screen and (min-width: 768px){
    padding: 0;
  }

  .next-step-container {
    background-color: $blue;
    max-width: 114rem;
    margin: 0 auto;
    position: relative;
    @media(min-width: 768px) {
      display: flex;
      width: 80vw;
    }
    &:hover {
      @media (hover : hover){
        #next-step-heading {
          &:after {
            width: 100% !important;
          }
        }
      }
    }

    a.cover-link {
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    .content {
      padding: 4rem 3rem;
      box-sizing: border-box;
      color: #fff;

      @media(min-width: 768px) {
        flex: 0 0 60%;
        max-width: 60%;
        padding: 10vw 7vw;
      }
      @media(min-width: 1600px) {
        padding: 13.2rem;
      }

      #next-step-label {
        font-size: 1.2rem;
        letter-spacing: .2rem;
        text-transform: uppercase;
        margin-bottom: 1em;

        &:after {
          content: "";
          width: 5rem;
          height: .2rem;
          background-color: $orange;
          display: inline-block;
          vertical-align: middle;
          margin: 0 1.5rem;
        }
      }

      #next-step-heading {
        position: relative;
        display: inline-block;
        @media(min-width: 1440px) {
          font-size: 4rem;
        }

        &:after {
          content: "";
          position: absolute;
          height: .3rem;
          width: 0;
          background-color: $orange;
          display: block;
          transition: all ease .3s;
        }
      }
    }

    .image {
      position: relative;
      overflow: hidden;
      @media(min-width: 768px) {
        flex: 0 0 40%;
        max-width: 40%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        vertical-align: bottom;
        transition: transform 500ms ease;
        @media(min-width: 768px) {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }

      .photo-curve-horiz {
        position: absolute;
        top: 0;
        display: block;
        transform: rotate(180deg);
        fill: $blue;
        @media screen and (min-width: 768px){
          display: none;
        }
      }

      .photo-curve-vert {
        display: none;
        @media screen and(min-width: 768px) {
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          fill: $blue;
          height: 100%;
        }
      }
    }
  }
}
