.next-step-wrapper {
  background-color: #fff;
  position: relative;
  z-index: 7;
  @media screen and (min-width: 768px){
    padding: 5rem;
  }

  .next-step-container {
    background-color: $blue;
    max-width: 114rem;
    margin: 0 auto;
    @media(min-width: 768px) {
      display: flex;
      width: 80vw;
    }

    .content {
      padding: 4rem 3rem;
      box-sizing: border-box;
      color: #fff;
      @media(min-width: 768px) {
        flex: 0 0 60%;
        max-width: 60%;
        padding: 7vw;
      }
      @media(min-width: 1600px) {
        padding: 11.2rem;
      }

      #next-step-label {
        font-size: 1.2rem;
        letter-spacing: .2rem;
        text-transform: uppercase;
        margin-bottom: 1em;

        &:after {
          content: "";
          width: 5rem;
          height: .2rem;
          background-color: $orange;
          display: inline-block;
          vertical-align: middle;
          margin: 0 1.5rem;
        }
      }
    }

    .image {
      position: relative;
      @media(min-width: 768px) {
        flex: 0 0 40%;
        max-width: 40%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        vertical-align: bottom;
        @media(min-width: 768px) {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }

      .photo-curve-horiz {
        position: absolute;
        top: 0;
        display: block;
        transform: rotate(180deg);
        fill: $blue;
        @media screen and (min-width: 768px){
          display: none;
        }
      }

      .photo-curve-vert {
        display: none;
        @media screen and(min-width: 768px) {
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          fill: $blue;
          height: 100%;
          transform: rotate(180deg);
        }
      }
    }
  }
}
