#team-grid {
  max-width: 160rem;
  display: block;
  margin: 0 auto;

  .inner {
    .row {
      position: relative;
      margin-bottom: 5rem;
      @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: nowrap;
        margin: 0;
      }

      .right {
        @media screen and (min-width: 768px) {
          order: 2;
        }
      }

      .photo-block {
        display: block;
        max-width: 100%;
        @media screen and (min-width: 768px) {
          display: flex;
          flex: 0 0 50%;
          max-width: 50%;
        }

        .image-wrapper {
          @media(min-width: 768px) {
            position: relative;
            width: 100%;
            min-height: 45rem;
          }

          img {
            width: 100%;
            height: auto;
            vertical-align: bottom;
            @media screen and (min-width: 768px){
              object-fit: cover;
              height: 100%;
            }
          }
        }
      }

      .content-block {
        @media screen and (min-width: 768px){
          display: flex;
          align-items: center;
          flex: 0 0 50%;
          min-height: 35rem;
        }

        .content-inner {
          padding: 3rem 2rem 2rem 2rem;
          box-sizing: border-box;
          @media screen and (min-width: 992px){
            padding: 3rem;
          }
          @media(min-width: 1366px) {
            padding: 5rem;
          }

          .title {
            text-transform: uppercase;
            font-weight: bold;
            color: $blue;
            font-size: 1.4rem;
            letter-spacing: .1rem;
          }

          .header {
            padding: 1rem 0;
            &:after {
              content: "";
              display: block;
              position: absolute;
              height: .2rem;
              width: 4rem;
              background-color: $orange;
              margin: 1rem 0;
            }
          }

          .blurb {
            padding: 1rem 0;
          }

          .btns-wrap {
            margin-top: 3rem;
            display: flex;
          }

          .linkedIn {
            display: inline-block;
            vertical-align: middle;
            margin-right: 2rem;
            background-color: $blue;
            padding: .5rem;
            text-align: center;
            max-width: 2rem;
            position: relative;
            &:before {
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              width: 0;
              height: 100%;
              background: $orange;
              transition: width ease 300ms;
            }

            &:hover:before {
              width: 100%;
            }

            svg {
              vertical-align: bottom;
              fill: #fff;
              width: 80%;
              position: relative;
              z-index: 1;
            }
          }
        }
      }
    }
  }
}
