.resource-single {
  .inner {

    .hero {
      max-height: 50rem;

      .inner {
        .hero-img-wrapper {
        }

        .hero-text-wrapper {
          width: 100%;

          .date {
            font-size: 1.4rem;
            font-weight: bold;
            color: $blue;
            letter-spacing: .1rem;
            position: relative;
            margin: 1rem 0;
            &:before {
              content: "";
              background-color: $orange;
              width: .3rem;
              height: 5rem;
              display: inline-block;
              position: absolute;
              left: 50%;
              transform: none;
              top: -6rem;
              @media screen and (min-width: 768px){
                width: 8.8rem;
                height: .3rem;
                top: 50%;
                transform: translateY(-50%);
                left: -10rem;
              }
            }
          }

          .hero-header {
            font-size: 2.4rem;
            font-family: $Merriweather;
          }

          .hero-subheader {
            font-family: $Merriweather;
            color: #777777;
            margin: 1rem 0;
          }

          .author {
            text-transform: uppercase;
            font-size: 1.4rem;
            color: $blue;
            font-weight: bold;
            letter-spacing: .1rem;
            margin: 1rem 0;
          }
        }
      }
    }

    .body-content {
      margin: 10rem 0;
      .inner {
        padding: 0 2rem;
        @media screen and (min-width: 768px){
          max-width: 75vw;
          display: block;
          margin: 0 auto;
          padding: 0;
        }
        @media screen and (min-width: 992px){
          max-width: 50vw;
        }

        p {
          margin: 4rem 0;
          &:first-child {
            margin-top: 0;
          }
        }

        blockquote {
          font-size: 2rem;
          color: $blue;
          font-style: italic;
          margin: 6rem 0;
          p {
            font-family: $Merriweather;
          }
        }

        #blog-bxslider-wrapper {
          .bx-viewport {
            max-height: 30rem !important;
            position: relative;
            text-align: center;
            @media screen and (min-width: 768px){
              height: auto;
              max-height: 50rem !important;
              width: 120% !important;
              margin-left: -10%;
            }

            .blog-bxslider {
              // &.load-delay {
              //   display: none;
              // }

              li {
                margin: 0 1rem;
                overflow: hidden;
                height: 100%;
                img {
                  height: auto;
                  overflow: hidden;
                  max-height: 30rem;
                  display: inline;
                  vertical-align: middle;
                  @media screen and (min-width: 768px){
                    height: auto;
                    max-height: 50rem;
                  }
                }
              }
            }
          }

          .bx-controls {
            display: block;

            .bx-pager {
              text-align: center;
              margin: 2rem auto;

              .bx-pager-item {
                display: inline-block;
                margin: 0 1rem;

                a{
                  text-decoration: none;
                  background-color: $lightGrey;
                  border-radius: 100%;
                  transition: all ease .3s;
                  height: 20px;
                  width: 20px;
                  color: rgba(0,0,0,0);
                  display: block;
                  width: 1.5rem;
                  height: 1.5rem;
                  &.active {
                    background-color: $blue;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
