.rte {
  background-color: #fff;
  z-index: 5;
  position: relative;

  &.grey-bg{
    background-color: $backgroundGrey;
  }

  .inner {
    padding: 4rem 2rem;
    display: block;
    margin: 0 auto;
    max-width: 70rem;
    @media(min-width: 768px) {
      width: 70vw;
    }
    @media(min-width: 1024px) {
      padding: 10rem 2rem;
    }
    &.contact {
      padding: 6rem 2rem;
      @media screen and (min-width: 768px){
        padding: 6rem 2rem 8rem; 
      }
    }

    #content-title {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      @media(min-width: 768px) {
        max-width: 50vw;
      }

      &:after {
        content: "";
        width: 5rem;
        height:  .2rem;
        background-color: $orange;
        display: block;
        vertical-align: middle;
        margin: 2rem auto;
      }
    }

    #content-inner {
      text-align: center;
      display: block;
      margin: 0 auto;
    }
  }
}
