.search-result-content {
  text-align: left;

  .inner {
    padding: 4rem 2rem;
    min-height: calc(100vh - 233px);
    @media screen and (min-width: 992px){
      width: 80vw;
      max-width: 100rem;
      display: block;
      margin: 0 auto;
    }

    h1 {
      padding: 3rem 0;
      border-bottom: 2px solid $lightGrey;
      font-size: 3rem;
      @media screen and (min-width: 768px){
        font-size: 4rem;
      }
      span {
        color: $blue;
      }
    }

    .results {
      padding: 3rem 0;
      border-bottom: 2px solid $lightGrey;
      font-size: 3rem;
      @media screen and (min-width: 768px){
        font-size: 4rem;
      }
      span {
        color: $blue;
      }
    }

    .home-path {
      padding: 4rem 0;
      display: block;
      text-decoration: none;
      font-size: 2rem;
      text-transform: uppercase;
      font-family: $Poppins;
      color: $blue;
      font-weight: bold;
      letter-spacing: .1rem;
      &:before {
        content: "<";
        color: $orange;
        margin-right: 1rem; 
      }
    }




  .btn {
    svg {
      margin-right: .5rem;
    }
  }

  #grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 4rem 0;


    .article-wrapper {
      min-height: 30rem;
      position: relative;
      display: flex;
      flex: 0 0 100%;
      max-width: 100%;
      overflow: hidden;
      @media screen and (min-width: 768px){
        flex: 0 0 33.33%;
        max-width: 33.33%;
      }
    }

    .article-wrapper {
      box-sizing: border-box;
      flex-wrap: wrap;
      @media screen and (min-width: 768px){
        padding: 2rem;
      }

        img {
          object-fit: cover;
          object-position: 50% 50%;
          height: 20rem;
          width: 100%;
          position: relative;
          transition: all ease 1s;
        }
      }
      .text-wrapper {
        position: relative;
        bottom: 0;
        padding: 2rem;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        box-sizing: border-box;
        text-align: center;

        h2 {
          font-size: 1.8rem;
          &:after {
            content: "";
            background-color: $orange;
            height: .3rem;
            width: 6.7rem;
            display: block;
            position: relative;
            margin: 1.5rem auto;
          }
        }

        .button {
          position: relative;
          margin: 1rem auto;
        }
      }
    }
  }
  }
