#section-header {
  position: relative;
  z-index: 7; 
  .inner {
    padding: 5rem 2rem;
    max-width: 70rem;
    display: block;
    margin: 0 auto;
    .header {
      text-align: center;
      &:after {
        content: "";
        width: 5rem;
        height:  .2rem;
        background-color: $orange;
        display: block;
        vertical-align: middle;
        margin: 1rem auto;
      }
    }
  }
}
