.team-member {
  .inner {
    .hero {
      display: flex;
      position: relative;
      z-index: 6;
      overflow: hidden;
      padding: 0;
      @media screen and (min-width: 768px){
        height: 40vh;
      }
      @media screen and (min-width: 992px){
        height: 72vh;
      }
      @media screen and (min-width: 1440px){
        height: 65rem;
      }

      .inner {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          @media screen and (min-width: 768px){
            flex-wrap: nowrap;
          }

          .hero-img-wrapper {
            height: 20rem;
            position: relative;
            @media screen and (min-width: 768px){
              max-width: 50%;
              flex: 0 0 50%;
              height: auto;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              @media screen and (min-width: 768px){
                height: 100%;
                width: 100%;
              }
            }

            .photo-curve-vert {
              position: absolute;
              display: none;
              fill: $backgroundGrey;
              @media screen and (min-width: 768px){
                display: block;
                right: 0;
                bottom: 0;
                height: 100%;
              }
            }

            .photo-curve-horiz {
              position: absolute;
              display: block;
              bottom: 0;
              fill: $backgroundGrey;
              @media screen and (min-width: 768px){
                display: none;
              }
            }
          }

          .hero-text-wrapper {
            .hero-header {
              font-size: 4rem;
              font-family: $Merriweather;
              position: relative;
              &:before {
                content: "";
                display: block;
                background-color: $orange;
                position: absolute;
                top: 50%;
                left: -9rem;
                @media screen and (min-width: 768px){
                  height: .2rem;
                  width: 7.5rem;
                }
                @media screen and (min-width: 922px){
                  width: 10rem;
                  left: -12rem;
                }
              }
            }

            .hero-subheader {
              font-family: $Merriweather;
              color: $lightGrey;
              padding: 2rem 0;
              font-size: 1.8rem;
            }
          }
      }
    }

    #specs-module {
      display: flex;
      justify-content: space-between;
      padding: 4rem 2rem;
      margin: 0 auto;
      flex-wrap: wrap;
      @media screen and (min-width: 768px){
        width: 80vw;
        max-width: 100rem;
        padding: 6rem 0;
        flex-wrap: nowrap;
      }
      @media screen and (min-width: 992px){
        padding: 10rem 0;
      }

      .title {
        font-weight: bold;
        letter-spacing: .1rem;
        text-transform: uppercase;
        color: $blue;
        font-size: 1.4rem;
        padding-left: 6rem;
        position: relative;
        &:before {
          content: "";
          background-color: $orange;
          width: 5rem;
          height: .2rem;
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }

      .module-content {
        padding: 2rem 0;

        p {
          line-height: 1.6em;
          font-size: 1.6rem;

          br {
            line-height: 4rem;
          }
        }
      }

      #experience-module {
        width: 100%;
        padding: 2rem 0;
        @media screen and (min-width: 768px){
          max-width: 50%;
          padding: 0 2rem;
        }
      }

      #highlights-module {
        width: 100%;
        @media screen and (min-width: 768px){
          max-width: 50%;
          padding: 0 2rem;
        }
      }
    }

    #bio-blurb-module {
      background-color: $backgroundGrey;
      position: relative;
      z-index: 5;

      .inner {
        padding: 2rem;
        display: block;
        margin: 0 auto;
        @media screen and (min-width: 768px){
          padding: 2rem 0;
          width: 80vw;
          max-width: 100rem;
        }

        .blurb {
          display: block;
          margin: 0 auto;
          max-width: 70rem;
          text-align: center;
          font-size: 2rem;
          padding-bottom: 10rem;
          padding-top: 4rem;
          @media screen and (min-width: 768px){
            font-size: 2.5rem;
          }
          @media screen and (min-width: 992px){
            font-size: 3rem;
          }

          p {
            font-family: $Merriweather;
            line-height: 1.5em;
          }
        }

        .blurb-circle {
          display: block;
          position: absolute;
          height: 17rem;
          width: 17rem;
          background-color: $orange;
          left: 50%;
          bottom: -8.5rem;
          transform: translateX(-50%);
          border-radius: 100%;
          overflow: hidden;
        }
      }
    }

    .content-block-wrapper {
      position: relative;
      z-index: 6;
      background-color: #fff;
      padding: 4rem 2rem;
      margin: 0 auto;
      @media screen and (min-width: 768px){
        padding: 6rem 0 0;
        width: 80vw;
        max-width: 100rem;
      }
      @media screen and (min-width: 992px){
        padding: 10rem 0 0;
      }

      .content-block {
        padding: 2rem 0;

        .title {
          font-family: $Merriweather;
          font-size: 2.4rem;
          &:after {
            content: "";
            display: block;
            background-color: $orange;
            width: 7.5rem;
            height: .2rem;
            margin: 1.5rem 0;
          }
        }

        .content {
          p {
            line-height: 1.6em;
            padding-bottom: 1.5rem;
            font-size: 1.6rem;

            br {
              line-height: 4rem;
            }
          }
        }
      }
    }
  }
}
