// COLORS

$blue: #0176BC;
$blueTransparent: rgba(1, 118, 188, 0.75);
$orange: #F69420;
$backgroundGrey: #F8F8F8;
$textGrey: #3A3A3A;
$lightGrey : #777777; 


//FONTS

$Merriweather: 'Merriweather', serif;
$Poppins: 'Poppins', sans-serif;
